<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
     <header>
        <h1 class="titulo">Mi Tienda</h1> <!-- Puedes personalizar esto -->
        <nav class="nav">
            <a href="/">Inicio</a>
            <a href="/product/new">Crear producto</a>
        </nav>
    </header>

    <main>
        {{{body}}} <!-- Contenido específico de cada vista -->
    </main>

    <footer>
        <p>&copy; 2024 Mi Tienda. Todos los derechos reservados.</p>
    </footer>
</body>
</html>