{{#if this.data.isregistered}}
<span>Usuario:{{this.data.username}}</span>
{{else}}
<a href="#">Registrarse aqui</a>
{{/if}}
<h1>hola desde el servidor</h1>
<h2>{{this.data.title}}</h2>
// esto esta del lado del cliente CSR
<script>
    alert("hola mundo")
</script>
