{{#each this.data.products}}
<div>
    <h2>{{this.nombre}}</h2>
<p>{{this.data.product.descripcion}}</p>
<div>
    <b>precio: ${{this.precio}}</b>
</div>
<div>
    <b>quedan: {{this.stock}} unidades disponibles</b>
</div>
<a href="#">ir a detalles</a>
<hr>

